* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family : Monseratt , sans-serif;
    
}

a {
    text-decoration: none;
}
.p {
    font-size: 12px;
    margin: 0px 0px 15px;
    opacity: .4;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
button {
    color: 	#FFFFFF;
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    background-color: #0000FF;
    border-radius: 12px;
}
.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    
}